@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Satisfy", cursive;
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0px;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  align-content: right;
  color: rgb(226, 226, 226);
  text-decoration: none;
}

.main-nav {
  text-align: right;
  font-size: larger;
  font-weight: bolder;
}

.nav a:hover {
  transform: scale(1.2);
}

.main-header {
  background-image: url(images/minimalist-design-thumbnail.jpg);
  background-color: rgb(161, 159, 159);
  background-size: cover;
  padding-bottom: 10px;
  background-blend-mode: multiply;
  color: rgb(226, 226, 226);
  text-align: center;
  margin: 1px 0;
}

.main-header h1 {
  font-size: 50px;
}

.content-section {
  margin: 30px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-size: 30px;
  font-family: "Pacifico", cursive;
}

.section-subheader {
  font-family: "Raleway", sans-serif;
  font-size: medium;
  font-size: 20px;
}

.section-paragraph {
  font-family: "Open Sans", sans-serif;
}

.column {
  width: 50%;
  float: left;
  padding: 10px;
}

.column img {
  width: 50%;
  margin: auto auto;
  display: block;
}

.general-section {
  display: inline-block;
}

.main-footer {
  padding-bottom: 20px;
  padding-top: 20px;
  background-image: url(images/make-a-difference.jpg);
  text-align: center;
  font-size: 20px;
}

.main-footer-nav {
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.footer-nav a {
  color: rgb(53, 53, 53);
}

.home-content {
  background: linear-gradient(to bottom, #a9edf0, #97b3ef);
  margin: 0px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}

.home-content-header {
  font-family: "Pacifico", cursive;
  color: rgb(49, 49, 49);
  font-size: 100px;
  text-align: center;
}

.home-content button {
  font-size: 30px;
  border-radius: 12px;
  text-align: center;
  background-color: rgb(227, 227, 227, 0.1);
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  outline: none;
}

.home-content button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.form {
  border: solid black;
  border-radius: 50px;
  padding: 30px;
  padding-right: 50px;
  margin: auto;
  background-color: white;
  width: 500px;
  text-align: center;
  font-size: 15px;
}

input {
  border: none;
  border-bottom: solid black 2px;
  outline: none;
  font-size: 15px;
}

input[type="text"]:focus {
  border-bottom: solid black 3px;
}

select {
  width: 30%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.form-label {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.form-input {
  float: left;
  width: 75%;
  margin-top: 6px;
  margin-bottom: 10px;
}

.other {
  display: none;
}

input[type="submit"] {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.submit-btn:hover {
  transform: scale(1.1);
  background-color: #b3b3b3;
}

.subject {
  padding-top: 13px;
}

.message-input {
  border: solid;
  border-radius: 15px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: black;
}

.message-input:focus {
  border: solid black 3px;
  outline: none;
}

.column {
  float: left;
  width: 50%;
  height: 500px;
  padding: 50px;
  border: solid black;
  border-radius: 15px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.column img {
  height: 200px;
  width: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
